<h1> All Requests </h1>

<ul>
<% @requests.each do |request| %>
<li>
  <%= request.id %>
  <%= request.start_date %>
  <%= request.end_date %>
  <%= link_to "#{request.id}", cat_rental_request_url(request)%>
</li>
<% end  %>
</ul>
