<table>
  <tr>
    <th>Cat ID</th>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <tr>
    <td><%= @request.cat_id %></td>
    <td><%= @request.start_date%></td>
    <td><%= @request.end_date %></td>
  </tr>
</table>
